:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #8a470c;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

p {
  padding: 0.75rem;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -15px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square > div {
  margin-top: -1.7em;
}

/* New Category Icons */
.category-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 40px auto;
}

.category-icons svg {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.order-selector {
  padding: 10px 20px;
  background-color: #ecf0f0;
  border: none;
  border-radius: 10px;
  position: absolute;
  right: 4vw;
  cursor: pointer;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}

.cart:hover svg {
  fill: gray;
}

.cart-animation {
  animation: bounce-top 1.5s linear 0s 1 normal none;
}

@keyframes bounce-top {
  0% {
  }

  25% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-24px);
  }

  55% {
    transform: translateY(0);
  }

  65% {
    transform: translateY(-12px);
  }

  75% {
    transform: translateY(0);
  }

  82% {
    transform: translateY(-6px);
  }

  87% {
    transform: translateY(0);
  }

  93% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Mission section */
.mission {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  line-height: 1.3;
  width: 100%;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  opacity: 0.8;
}

.mission p {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

/* Products Section */
.products {
  margin-top: 2rem;
  padding: 1rem;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Product Card */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}

.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* Product Detail */
.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

.discounted-product {
  display: flex;
}

.product-card__price {
  font-size: 1.1rem;
}

.discounted-product .product-card__suggested_price {
  font-size: 0.8rem;
  text-decoration: line-through;
  margin-left: -1rem;
}

/* Cart list styles */
.cart-card {
  display: grid;
  position: relative;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

.remove-item {
  position: absolute;
  right: 0px;
  top: 10px;
  cursor: pointer;
}

.alert-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-color: var(--tertiary-color);
  background-color: var(--primary-color);
  align-items: center;
  padding: 0 1rem;
}

.hidden {
  display: none;
}

.alert-message span {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.alert-message span:hover {
  background-color: #8a470c;
  color: var(--light-grey);
}

/* Media Queries */
@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

/* Cart total */
.cart-footer {
  display: none;
}

/* Remove and Add ONE item */
.addOne-item {
  text-align: right;
}

.removeOne-item {
  text-align: right;
}

.addOne-item:hover {
  cursor: pointer;
}

.removeOne-item {
  cursor: pointer;
}

header form {
  align-self: center;
}

header form input[type="text"] {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

header form input[type="submit"]:hover {
  background-color: #d0d0d0;
}

header form input[type="submit"] {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

header form input[type="submit"],
header form input[type="text"] {
  padding: 0.4em;
  padding-left: 0.6em;
  margin: 0;
  margin-left: -0.6em;
  /* border-radius: 1em; */
  border: 1px solid rgb(1, 1, 1, 0.3);
}
